
@{
    ViewData["Title"] = "ManagerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manager</h1>
<u1>
    @*<li><a asp-action="Home" asp-controller="GuestDetails">Guest Details</a></li>*@
    <li><a asp-action="Home" asp-controller="RoomDetails">Room Details</a></li>
 @*   <li><a asp-action="Home" asp-controller="Reservations">Reservations</a></li>
    <li><a asp-action="Home" asp-controller="Bill">Bills</a></li>*@
    <li><a asp-action="Home" asp-controller="Services">Services</a></li>
    <li><a asp-action="Home" asp-controller="StaffDetails">StaffDetails</a></li>
    @*<li><a asp-action="Home" asp-controller="Departments">Departmentss</a></li>
    <li><a asp-action="Home" asp-controller="Rates">Rates</a></li>*@
</u1>

