<h1>Services</h1>
<ul>
    <li><a asp-action="Index" asp-controller="Services">Services</a></li>
    <li><a asp-action="Create" asp-controller="Services">Add a Service</a></li>
    <li><a asp-action="Index" asp-controller="Role">HMS Home Page</a></li>
    <li><a asp-action="ManagerIndex" asp-controller="Role">HMS ManagerHome Page</a></li>
    <li><a asp-action="ReceptionistIndex" asp-controller="Role">HMS ReceptionistHome Page</a></li>
</ul>